<div class="geoposition-widgetzz" data-map-widget-height="{{ config.map_widget_height }}" data-map-options="{{ config.map_options }}" data-marker-options="{{ config.marker_options }}">
<!--         {% if latitude.widget %}
                {% include latitude.widget.template_name with widget=latitude.widget %}
        {% else %}
                {{ latitude.html }}
        {% endif %}
        
        {% if longitude.widget %}
                {% include latitude.widget.template_name with widget=latitude.widget %}
        {% else %}
                {{ longitude.html }}
        {% endif %} -->
</div>

